# Dart & Flutter
.dart_tool/
.packages
.metadata
.flutter-plugins
.flutter-plugins-dependencies

# Flutter build outputs
build/
**/GeneratedPluginRegistrant.*

# iOS
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/app/build/
android/local.properties

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock

# Web
web/.dart_tool/

# VSCode & IntelliJ
.vscode/
.idea/
*.iml

# macOS Finder
.DS_Store

# Env
.env

# FVM (Flutter Version Manager)
.fvm/flutter_sdk/
